<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TemplateDialog</key>
	<dict>
		<key>ArrayButtons</key>
		<array>
			<dict>
				<key>Title_Text</key>
				<string>Confirm</string>
				<key>Title_Color</key>
				<string>#000000</string>
				<key>BG_Color</key>
				<string>#FFFFFF</string>
				<key>Title_Alignment</key>
				<string>center</string>
				<key>Title_Font</key>
				<real>17</real>
				<key>Mid_Line_Color</key>
				<string>#FF0000</string>
				<key>Mid_Line_Width</key>
				<integer>2</integer>
				<key>Style</key>
				<string>confirm</string>
				<key>With_Image</key>
				<false/>
				<key>Image</key>
				<string></string>
			</dict>
			<dict>
				<key>Title_Text</key>
				<string>Cancel</string>
				<key>Title_Color</key>
				<string>#000000</string>
				<key>BG_Color</key>
				<string>#FFFFFF</string>
				<key>Title_Alignment</key>
				<string>center</string>
				<key>Title_Font</key>
				<real>17</real>
				<key>Mid_Line_Color</key>
				<string>#FF0000</string>
				<key>Mid_Line_Width</key>
				<integer>2</integer>
				<key>Style</key>
				<string>cancel</string>
				<key>With_Image</key>
				<false/>
				<key>Image</key>
				<string></string>
			</dict>
		</array>
		<key>Label</key>
		<dict>
			<key>Text</key>
			<string>Warning</string>
			<key>Text_Color</key>
			<string>#FFFFFF</string>
			<key>BG_Color</key>
			<string>#FF0000</string>
			<key>Text_Font</key>
			<integer>17</integer>
			<key>Text_Alignment</key>
			<string>center</string>
			<key>Lines</key>
			<integer>1</integer>
		</dict>
		<key>Frame</key>
		<dict>
			<key>Border_Width</key>
			<integer>2</integer>
			<key>Border_Color</key>
			<string>#FF0000</string>
			<key>Label_Height</key>
			<integer>30</integer>
			<key>Button_Height</key>
			<integer>70</integer>
			<key>BGAlpha</key>
			<real>0.5</real>
		</dict>
	</dict>
</dict>
</plist>
